/* Estilos para el body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
  background-color: #fff;
}

/* Estilos para la barra de navegación */
nav {
  background-color: #763e85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 10rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
  font-size: 1.15rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Ajustes específicos para los cuadros de abajo */
.grid-container .cuadro {
  margin-bottom: 0; /* Ajusta el margen inferior a 0 */
}

/* Estilos para los grids */
.grid-container,
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0; /* Elimina el espacio entre las filas */
  width: 100%;
}

.grid-container-2 {
  grid-template-columns: 1fr 1fr;
}

.cuadro-left,
.cuadro-right,
.cuadro {
  background-color: #fff;
  text-align: center;
  color: #fff;
  margin: 0;
  position: relative;
  overflow: hidden; /* Evita que las imágenes sobresalgan del cuadro */
}

.cuadro img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.texto-centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-centrado p {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Clase para aplicar el efecto de zoom en hover a la imagen */
.zoom-on-hover-image {
  transition: transform 0.5s ease;
}

/* Aplica el zoom en hover solo a la imagen */
.zoom-on-hover-image:hover {
  transform: scale(1.1);
}

.texto-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.texto-contenedor p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Alineación específica para los cuadros de abajo */
.grid-container .cuadro,
.grid-container-2 .cuadro {
  margin-top: 20px;
}

/* Títulos específicos para los cuadros de abajo */
.cuadro:nth-child(3) .texto-centrado p {
  content: "Sobre Nosotros";
}

.cuadro:nth-child(4) .texto-centrado p {
  content: "Nuestros Proyectos";
}

.cuadro:nth-child(5) .texto-centrado p {
  content: "Contacto";
}

.footer-derechos {
  background-color: #763e85;
  padding: 10px 20px;
  text-align: right;
  color: #fff;
  font-size: 14px;
}
